body { 
    color: black;
	max-height: 100%;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
.container, .container_template {
    max-width: 600px;
    max-height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 30px;
    border: solid;
    margin-top: 40px;
}
.posts {
    padding: 20px;
}
.posts_title {
    font-size: 28px;
}
.posts_body {
    font-size: 18px;
}
.comments {
    padding: 0 20px 20px 20px;
}
.comments_border {
    padding-left: 450px;
    font-weight: 700;
    color: black;
}
.container_template {
    display: none;
}
.hidden {
    display: none;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}
  
.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid #ffffff;
    border-radius: 30px;
    border: none;
}
  
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
.pagination button.active {
    background-color: #ff0000;
    color: white;
}
.horizontalLine {
    border-top:2px solid black;
    height:5px;
    margin:16px 0;
}